@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid red;
}

.navMenu {
  width: 100%;
  background: rgba(17, 17, 17, 0.851);
  position: fixed;
  z-index: 555;
}
.navMenu__wrapper {
  display: flex;
  padding: 1.5rem 1.2rem;
  align-items: center;
}
.navMenu__logo {
  width: 18rem;
}
.navMenu__logo img {
  width: 100%;
}
.navMenu__list {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}
.navMenu__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7019607843);
  transition: 0.5s;
}
.navMenu__link:hover {
  color: #fff;
}

.slider1-wraper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  position: absolute;
  inset: 8rem 20rem 8rem 0;
  background-color: #ccc;
  border-radius: 2rem;
}

.slides {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24rem;
  height: 32rem;
  border-radius: 2rem;
  transition: 0.5s;
  box-shadow: 0 2.5rem 5rem rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.slides img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.slides:nth-child(1), .slides:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0);
  width: 100%;
  height: 100%;
}
.slides:nth-child(3) {
  left: calc(50% + 45rem);
}
.slides:nth-child(4) {
  left: calc(50% + 71rem);
}
.slides:nth-child(5) {
  left: calc(50% + 102rem);
}

.buttons {
  position: absolute;
  bottom: 1.5rem;
  display: flex;
  gap: 2rem;
}
.buttons span {
  position: relative;
  width: 5rem;
  height: 5rem;
  background-color: #111;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.buttons span::before {
  content: "";
  position: absolute;
  transform: rotate(315deg) translate(2px, 2px);
  width: 1.5rem;
  height: 1.5rem;
  border-top: 0.3rem solid #fff;
  border-left: 0.3rem solid #fff;
}
.buttons span:nth-child(2)::before {
  transform: rotate(135deg) translate(2px, 2px);
}
.buttons span:active {
  opacity: 0.5;
}

.content {
  position: absolute;
  bottom: 20%;
  left: 5%;
  color: white;
  max-width: 50rem;
  transition: 0.25s;
  transition-delay: 0s;
  transform: translateY(6rem);
  z-index: 5555;
  opacity: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  line-height: 130%;
}
.content h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.slides:nth-child(1) .content,
.slides:nth-child(2) .content {
  opacity: 1;
  transform: translateY(4rem);
  transition-delay: 0.5s;
}